version: "3.5"
services:
  proxmox-cloudflare-sync:
    build: .
    container_name: proxmox-cloudflare-sync
    restart: always
    environment:
      IP_NET_PREFIX: 192.168.2
      PROXMOX_URL: https://proxmox-server:8006
      PROXMOX_NODE_NAME: pve
      PROXMOX_TOKEN_NAME: api-user@pam!main
      PROXMOX_TOKEN: xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
      CLOUDFLARE_TOKEN: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      CLOUDFLARE_ZONE: mydomain.net
      CLOUDFLARE_DNS_SUBDOMAIN: nyc #optional
 
